{% extends "base.html" %} 

{% block title %}Read (One){% endblock %} 

{% block content %}
<div class="container w-50 p-2">
    <div class="container d-flex g-0 justify-content-between align-items-center">
        <h1 class="display-3">Edit User {{user.id}}</h1>
        <a href="/users">Home</a>
      </div>
  <table class="table table-dark text-white table-striped">
    <tbody>
      <tr>
        <td>Full Name:</td>
        <td colspan="2"><span class="text-warning">{{user.first_name}} {{user.last_name}}</span></td>
      </tr>
      <tr> 
        <td>Email:</td>
        <td colspan="2"><span class="text-warning">{{user.email}}</span></td>
      </tr>
      <tr>
        <td>Created On:</td>
        <td colspan="2"><span class="text-warning">{{user.created_at}}</span></td>
      </tr>
      <tr>
        <td>Last Updated On:</td> 
        <td colspan="2"><span class="text-warning">{{user.updated_at}}</span></td>
      </tr>
    </tbody>
  </table>
  <div class="container g-0">
      <a href="/users/{{user.id}}/edit"><button class="btn btn-primary text-white btn-large">Edit</button></a>
      <a href="/users/{{user.id}}/delete"><button class="btn btn-danger text-white btn-large">Delete</button></a>
  </div>
</div>
    
{% endblock %}